extends _layout.pug

block append locals
  - var title = 'index.pug';

block content
  .container
    h1.lead.text-center #{title}
    img(src="../assets/images/thumbnail.jpg")
    include ./partials/menu.pug
