body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: purple;
    font-family: sans-serif;
  }
  img {
    width: 600px;
    margin: 0 auto;
  }
}
