doctype html
html
  head
    link(rel="stylesheet" href="./stylesheets/main.css")
  body
    .container
      h1.lead.text-center
        | Hello World 
        i.glyphicon.glyphicon-heart
      .row
        .col-md-12
          p.text-center Grid1

    script(src="./javascripts/main.js")

